body {
	padding-top: 50px;
}

.navbar {
	border-bottom: 2px solid #08C;
	box-shadow: 0px 2px 4px #aaa;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#list {
	padding: 0px 10px 0px 10px;
}

.thumbnail {
	height: 100px
}

.title {
	font-size: 1.5em;
}

.logo {
	height: 200px;
	width: 200px;
	border-radius: 5px;
}

canvas {
	width: 100% !important;
	max-height: 300px !important;
}

@media (max-width: 640px) {
	canvas {
		width: 100% !important;
		height: 75% !important;
	}
}

.icon {
	border-radius: 50px;
	width: 75px;
	height: 75px;
	background-color: #eaeaea;
	line-height: 1.5;
	font-size: 50px;
	margin: 5px 5px 5px 5px;
	float: left;
}

.active {
	background-color: #36a2eb
}
