body {
	padding-top: 50px;
}

.navbar {
	border-bottom: 2px solid #08C;
	box-shadow: 0px 2px 4px #aaa;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

#list {
	padding: 0px 10px 0px 10px;
}

.thumbnail {
	height: 100px
}
