body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.navbar {
	border-bottom: 2px solid #08C;
	box-shadow: 0px 2px 4px #aaa;
}

.left {
	text-align: left;
}

#form_create_product {
	padding: 5px 5px 5px 5px;
}

#button_add {
	color: #FFF;
	background-color: #08C;
	border-color: #07B;
}

input[type=button] {
	margin-top: 5px;
	color: black;
}

